:root {
  /* paleta ver */
  --primeiroVerde: #88B257; 
  --segundoVerde:  #4A701C; 
  --terceiroVerde: #284703; 
  /* paleta cinza  */
  --primeiroCinza: #292929;
  --segundoCinza: #3D3D3D;
  --terceiroCinza: #525252;
  --quartoCinza: #666;
  --quintoCinza: #7A7A7A;
  --sextoCinza: #A3A3A3;
  --setimoCinza: #CCC;
  /* fontes  */
  --fonteTitulos: 'Rubik Mono One', sans-serif;
  --fonteGeral: 'Bricolage Grotesque', sans-serif;
}

#container {
  width: 100vw;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
}

.titulo{
  color: #fff;
  font-family: var(--fonteTitulos);
  font-size: 50px;
  text-decoration: underline;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario input {
  border-radius: 5px;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  align-items: center;
}

.formulario label {
  color: #fff;
  font-size: 31px;
  font-family: var(--fonteGeral);
}

.formulario img {
  width: 5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#lostPass {
  font-family: var(--fonteGeral);
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--primeiroVerde);
}

.button1 {
  font-family: var(--fonteGeral);
  background-color: var(--terceiroVerde);
  width: 120px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.button2 {
  font-family: var(--fonteGeral);
  background-color: var(--primeiroVerde);
  width: 120px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  margin-left: 1rem;
  border: none;
}

.button1, .button2, #lostPass, .media, hover{
  cursor: pointer;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.buttons {
  display: inline-block;
  margin-top: 1rem;
}

#grass {
  align-items: center;
  justify-content: end;
  background-image: url("../images/mato.svg");
  width: auto;
  height: 200px;
  margin-top: 10rem;
}

#socialMedia {
  margin-top: 2rem;
}

.media {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

#instagram {
  background-image: url("../images/instagram.svg");
  background-size: 100%;
}

#facebook {
  background-image: url("../images/facebook.svg");
  background-size: 100%;
} 

#linkedin {
  background-image: url("../images/linkedin.svg");
  background-size: 100%;
} 


