:root {
  /* paleta ver */
  --primeiroVerde: #88B257; 
  --segundoVerde:  #4A701C; 
  --terceiroVerde: #284703; 
  /* paleta cinza  */
  --primeiroCinza: #292929;
  --segundoCinza: #3D3D3D;
  --terceiroCinza: #525252;
  --quartoCinza: #666;
  --quintoCinza: #7A7A7A;
  --sextoCinza: #A3A3A3;
  --setimoCinza: #CCC;
}

#headerMinhasPlantas {
  background-color: var(--primeiroVerde);
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
}
.infoUser {
  display: flex;
  width: 33%;
  gap: 10px;
}
.imgUser {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url('../images/imgUser.png');
  background-repeat: no-repeat;
  background-position: center;
}
.infoUserDesc {
  display: flex;
  flex-direction: column;
}
.infoUserDesc span {
  font-family: var(--fonteGeral);
  color: white;
}
.infoUserDesc .nomeUser {
  font-size: 25px;
}
.infoUserDesc img {
  width: 30px;
}
.infoUserDesc div {
  display: flex;
  align-items: center;
}
.infoUserDesc div span:nth-child(1) {
  text-decoration: underline;
}
.infoUserDesc div span:nth-child(3) {
  margin-left: 20px;
}
.infoUserDesc div span img {
  width: 25px;
}
.infoUserDesc a {
  margin-top: 5px;
}
.buscarPlanta {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buscarPlanta span {
  font-family: var(--fonteGeral);
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
}
.pesquisarPlanta {
  display:flex;

}
.pesquisarPlanta input {
  width: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pesquisarPlanta button {
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ccc;
  border: none;
}
.onOrOff {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.conectado span , .ligado span {
  font-family: var(--fonteGeral);
  color: white;
  font-weight: 500;
}
#sectionPrincipal {
  display: flex;
}
#navegacao {
  background-color: var(--primeiroVerde);
  width: 25%;
  border-top: solid 1px black;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 18vh;
}
#abas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#abas div {
  border-bottom: solid 1px black;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fonteGeral);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
#abas div:hover {
  background-color: var(--segundoVerde);
}
#abas div span {
  margin-right: 4rem;
}
.rodapeNav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rodapeNav img {
  width: 30%;
}
#socialMediaMinhasPlantas {
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

#container-plantas {
  display: flex;
  flex-wrap: wrap;
}

#container-plantas div:hover {
  background-color: var(--segundoVerde);
  border: 2px solid #fff;
}

.visualPlantas {
  display: flex;
  flex-direction: column;
  background-color: var(--primeiroVerde);
  margin-top: 3rem;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 350px;
  height: 300px;
}


.visualPlantas img {
  height: 200px; 
}

.visualPlantas p {
  font-family: var(--fonteGeral);
  color: white;
  font-weight: 700;
  text-decoration: underline;

}

.visual {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--fonteGeral);
  color: #fff;
  font-weight: 700;
  position: absolute;
  left: 22.8125rem;
  top: 15vh;
  z-index: -1;
}
